.about {
  width: 100%;
  background-color: $smoke;

  p {
    @include size(h3);
    margin-top: $vertical-rhythm;
  }

  a {
    background-image: linear-gradient($background, $background);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 2px 3px;
    text-decoration: none;
    text-shadow: .03em 0 $background, -.03em 0 $background, 0 .03em $background, 0 -.03em $background,
    .06em 0 $background, -.06em 0 $background, .09em 0 $background, -.09em 0 $background,
    .12em 0 $background, -.12em 0 $background, .15em 0 $background, -.15em 0 $background,
    .03em .075em $background, -.03em .075em $background, .06em .075em $background,
    -.06em .075em $background, .09em .075em $background, -.09em .075em $background,
    .12em .075em $background, -.12em .075em $background, .15em .075em $background,
    -.15em .075em $background;

    &:hover {
      color: $accent;
    }
  }
}
